<!DOCTYPE html>
<html>
<head>
	<title>Coming Soon.</title>
	  <meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	<!-- Firebase -->
<!-- Firebase App is always required and must be first -->
<script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-app.js"></script>

<!-- Add additional services that you want to use -->
<script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-messaging.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-functions.js"></script>


    <script src="/__/firebase/init.js"></script>
	


	<script>
	  var config = {
	    // ...
	    apiKey: "apiKey",
	    authDomain: "projectId.firebaseapp.com",
	    databaseURL: "https://databaseName.firebaseio.com",
    	storageBucket: "bucket.appspot.com"
    	

	  };
	  firebase.initializeApp(config);
	</script>



 
	<!--  -->

  	<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">

	<style>
	.mySlides {display:none;}
	</style>
  
</head>
<body style="background-color: #51C5FE;background-image:url(../static/images/BG3.png)">
	<br><br><br><div align="center">
		<font size="7" style="color: #51C5FE;">Boom Boom Pass</font>
		<br>
		<font size="5" style="color: #51C5FE;">Sign up for the closed beta, there are limited places.</font>
		<br>
		

		<!-- Closed beta form -->
		
<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#51C5FE; clear:left; font:14px Helvetica,Arial,sans-serif;  width:550px;}
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://herokuapp.us19.list-manage.com/subscribe/post?u=49fb2248a5581944e47e0f8f0&amp;id=d1dfa51238" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>Sign up to our Closed Beta event happening on October the 13th 2018!</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-FNAME">Name </label>
	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_49fb2248a5581944e47e0f8f0_d1dfa51238" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
	
<!-- 		<div class="form">
			  <div class="tab-content">
			    <div id="signup">
			      <h1>Sign Up for The Closed Beta on the 13th of October!</h1>
			      
			      <form action="{{url_for('betaSignup')}}" method="POST">
			      
			      <div class="top-row">
			        <div class="field-wrap">
			          <label>
			            Name<span class="req">*</span>
			          </label>
			          <input type="text" name="name" required autocomplete="off" />
			        </div>
			    
			        <div class="field-wrap">

			        </div>
			      </div>

			      <div class="field-wrap">
			        <label>
			          Email Address<span class="req">*</span>
			        </label>
			        <input type="email" name="email" required autocomplete="off"/>
			      </div>
			      
			      <div class="field-wrap">
			      </div>
			      
			      <button type="submit" class="button button-block"/>Sign up</button>
			      
			      </form>

			    </div>
			    <div id="login">   
			    </div>
			  </div><!-- tab-content -->
			</div> <!-- /form -->
		</div> -->
<!-- 
		<div align="center">
			<img src="../static/images/Carousel.gif">
			<img src="../static/images/img.png">
			<img src="../static/images/BG5.png" width="768px" height="432px">
		</div> -->
		<div class="w3-content w3-display-container">
		  <img class="mySlides" src="../static/images/Carousel.gif"" style="width:100%">
		  <img class="mySlides" src="../static/images/BG2.png" style="width:100%">
		  <img class="mySlides" src="../static/images/BG5.png" style="width:100%">
		  <img class="mySlides" src="../static/images/BG.png" style="width:100%">

		  <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
		  <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
		</div>
		<br><br><br>

		<script>
		var slideIndex = 1;
		showDivs(slideIndex);

		function plusDivs(n) {
		  showDivs(slideIndex += n);
		}

		function showDivs(n) {
		  var i;
		  var x = document.getElementsByClassName("mySlides");
		  if (n > x.length) {slideIndex = 1}    
		  if (n < 1) {slideIndex = x.length}
		  for (i = 0; i < x.length; i++) {
		     x[i].style.display = "none";  
		  }
		  x[slideIndex-1].style.display = "block";  
		}
		</script>


<!-- Firebase -->
<script src="https://www.gstatic.com/firebasejs/5.5.2/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAN0gYqc3_WHSf6vc05vTIbedHKixjqd6s",
    authDomain: "boom-boom-pass-website.firebaseapp.com",
    databaseURL: "https://boom-boom-pass-website.firebaseio.com",
    projectId: "boom-boom-pass-website",
    storageBucket: "boom-boom-pass-website.appspot.com",
    messagingSenderId: "401411332195"
  };
  firebase.initializeApp(config);
</script>
<!--  -->

<!-- Closed beta form scripts -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script  src="{{url_for('static',filename='js/index.js')}}"></script>
<!-- // -->
</body>
</html>
